@import "tailwindcss";
@source "./**/*.{ts,tsx}";
@plugin "daisyui";

:root {
  font-family:
    system-ui,
    -apple-system,
    "Hiragino Kaku Gothic ProN",
    sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  -webkit-tap-highlight-color: transparent;
}
